
{% extends 'toDo/base.html' %}

{% block main_content %}

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'toDo/header.html' %}

  <div class="inner-cover"><br>


    <form class="form-signin" action="{%url 'identifing' %}" method="post">
    {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1><br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <br><br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required> <br>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" name="rememberMe"> Remember me
    </label>
  </div>
  <br> <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>


    </div>

    <br><br>
    {% include 'toDo/footer.html' %}


    </div>
</body>

{% endblock %}

