
{% extends 'toDo/base.html' %}

{% block main_content %}

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'toDo/header.html' %}


    <main role="main" class="inner cover" style="text-align: center;">
    <h1 class="cover-heading">Welcome to toDo</h1>
    <p class="lead">In this web application you will be able to personalize your list of task and mark them as you do them.</p>
    <p class="lead">
      <a href="/toDo/login" class="btn btn-lg btn-secondary">Log in</a> <!-- We access the files of urls -->
      <a href="/toDo/register" class="btn btn-lg btn-secondary">Sign up</a>
    </p>
  </main>

    {% include 'toDo/footer.html' %}

    </div>
</body>

{% endblock %}