
{% extends 'toDo/base.html' %}
{% block main_content %}

<body>
    <style>
        li {
            text-align: left;
        }
    </style>


    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    {% include 'toDo/header.html' %}


    <br><br>
    <main role="main" class="inner cover" style="text-align: center;">
    <h1 class="cover-heading">Welcome to toDo {{usuari.nom}}</h1>
    <h2 class="cover-heading" style="text-align: left;"> This is your personal list: </h2><br>

    <form action="{% url 'specificList' %}" method="post" style="text-align: left;">
        {% csrf_token %}
        {%for e in list %}
            <input type="radio" name="chosen_list" value="{{e.title}}">
            <label style="margin-left:10px;"> {{e.title}}</label><br><br>
        {% endfor %}

        <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="Delete" value="delete"> Delete</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="Show" value="show"> Show </button>
    </form>

    <br><br>
   <form action="{%url 'addList' %}" method="post" style="text-align: left;">
            {% csrf_token %}
            <input class="newInput" type="text" placeholder="New list's name" name="newList">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
   </form>

  </main>

    <br><br><br>
    {% include 'toDo/footer.html' %}

    </div>

</body>

{% endblock %}