
{% extends 'toDo/base.html' %}
{% load staticfiles %}
{% block main_content %}
</head>

<body>
     <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'toDo/header.html' %}

    <br><br>
    <main role="main" class="inner cover" style="text-align: left;"> <br><br>
        <h2> {{list.title}}</h2>

        <!-- Find the way to choose several options with bullet points and still be able to send only the checked ones -->
        <!-- Do not send it to a url, simply execute a js function -->
        <form action="{%url 'processChanges' %}" method="post">
            {% csrf_token %}
            {% for e in tasks %}
                {% if e.completed %}
                    <input class="checkbox" type="checkbox" name="{{e.task}}" checked>
                {% else %}
                    <input class="checkbox" type="checkbox" name="{{e.task}}">
                {% endif %}

                    <label class="item"> {{e.task}}</label><img class="trash" src="{% static 'trash.png' %}"> <br>
            {% endfor %}
            <br><br>
            <button class="btn btn-lg btn-primary btn-block, button_costumized" type="submit"> Apply changes</button>   <br>

        </form>
        <br><br>


        <form action="{%url 'addTask' %}" method="post">
            {% csrf_token %}
            <h4> Add a new task: </h4><br>
            <input class="newInput" type="text" placeholder="New task" name="newTask">
            <br><br>
            <button class="btn btn-lg btn-primary btn-block, button_costumized" type="submit">Add</button>
        </form>



    </main>

    <br><br><br>
    {% include 'toDo/footer.html' %}

    </div>
</body>

{% endblock %}